<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <app-card title="Total Revenue" value="$52.6k" icon="attach_money" percentage="+3.4%" percentageType="positive"></app-card>
    <app-card title="Today Revenue" value="$1024" icon="money" percentage="-5.5%" percentageType="negative"></app-card>
    <app-card title="Items Sold" value="22" icon="shopping_cart"></app-card>
    <app-card title="Users Active" value="11" icon="people"></app-card>
  </div>
  

  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Line Chart -->
    <app-chart 
      chartTitle="Sales Report" 
      chartType="line"
      [series]="salesData"
      [categories]="weekDays">
    </app-chart>
  
    <!-- Bar Chart -->
    <app-chart 
      chartTitle="Visits Overview"
      chartType="bar"
      [series]="visitData"
      [categories]="weekDays">
    </app-chart>
  </div>


  <div class="mt-6">
    <!-- Title and Button in One Line -->
    <div class="flex items-center justify-between mb-2">
      <h2 class="text-xl font-semibold">Recent Orders</h2>
      <button 
        mat-button 
        color="primary" 
        routerLink="/features/orders" 
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-100">
        View All Orders
      </button>
    </div>
  
    <app-table [data]="products" [columns]="displayedColumns"></app-table>
  </div>
  
  
  